.solve{
    width: 100%;
    height: 700px;
}
.SlvH1M{
    color: #B7A16C;
    font-weight: 700;
    width: 800px;
    transform: translate(60px , 50px);  
}
.SlvH2M{
    color: #113a83;
    transform: translate(120px , 80px);
    font-weight: 700;
    width: 400px;
}
.SlvH3M{
    transform: translate(60px , 90px);
    width: 200px;
}
.slvDiv{
    transform: translateX(505px) translateY(-698px);
    width: 844px;
}
.ulOne{
    width: 700px;
    transform: translateX(60px) translateY(120px);
    list-style: none;
  }
.liOne{
    padding: 5px;
    font-size: 25px;
    font-weight: 700;
}
.Ri21{
    transform: translate(1000px , -380px);
}
.ulOne .liOne::before {
    content: " ";
    color: #B7A16C;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.vi64{
    transform: translateX(260px) translateY(-8px);
}